@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');

body {
    text-align: center;
    font-family: 'Neucha', cursive;
}
.container {
    width: 500px;
    margin: 5px auto;
    height: 400px;
    position: relative;
}
.komputer,
.pemain {
    height: 50%;
    border: 3px solid black;
}
.komputer {
    border-radius: 4px 4px 0 0;
}

.komputer img{
    width: 200px;
    height: 200px;
}
.pemain img {
    width: 100px;
    height: 100px;    
    transform: rotate(180deg);
}
.pemain {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 0 0 4px 4px;
}
a {
    cursor: pointer;
}
a:hover {
    transform: scale(1.2);
    border: 2px solid black;
}
.hasil {
    position: absolute;
    left: 44%;
    top: 49%;
    background-color: black;
    width: 15%;
    border-radius: 4px;
    color: oldlace;
}
@media (max-width: 576px) {
    .container {
        width: 95%;
    }
}